body {
    background: #111;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
}

/* -------- Login Page -------- */

.login-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background: #181818;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* -------- Home Page -------- */

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: black;
}

header input {
    padding: 10px;
    width: 250px;
    border: none;
    border-radius: 5px;
}

.category {
    margin: 20px;
}

.movies-row {
    display: flex;
    gap: 15px;
}

.movie-card {
    background: #222;
    padding: 60px 20px;
    border-radius: 8px;
    width: 150px;
    text-align: center;
}
.user-info-box {
    position: absolute;
    right: 20px;
    top: 20px;
    color: #fff;
    background: rgba(0, 0, 255, 0.4);
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 14px;
}
